body {
    max-width: 1440px;
    max-height: 696px;
    background-color: #fff;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery {
    list-style: none;
    padding: 24px 156px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    transition: gap 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.gallery-image {
    min-width: 360px;
    max-height: 200px;
    transition: min-width 500ms cubic-bezier(0.19, 1, 0.22, 1),
        max-height 500ms cubic-bezier(0.19, 1, 0.22, 1);

}

.gallery-image:hover {
    min-width: 362px;
    max-height: 205px;
}

.gallery:hover {
    gap: 18px
}

.modal {
    padding: 28px 0px;
    max-width: 1112px;
}

.modal-img {
    min-width: 1112px;
    height: 640px;
}